// bootstrap scaffold.scss
@import '_bootstrap-config';
@import "~bootstrap/scss/bootstrap";

#page {
  padding-top: 50px;
}

#content {
  @include make-container();
  @include make-container-max-widths();
}

#primary {
  @include make-row();
}

#menu-wrap {
  @include make-col-ready();
  width: $menu-left-width;
}

main#main {
  @include make-col-ready();
  width: calc(100% - #{$menu-left-width});
}